.logStyle{
    /* background-color: blue; */
}

.tableComp {
  overflow-x: scroll;
  height: auto;
  width: 100vw;
  
}

@media screen and (min-width:900px) {
    .logStyle{
        margin: 200px;
        /* background-color: blue; */
    }
}
.imgStyleLog{
    width: 100%;
display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* .imgTag{
    width: 10;
} */